
	.calender-button{position: relative !important;}
		.calender-button .addeventatc{position: relative;padding: 10px 0 0 30px;background: transparent !important;box-shadow: none !important;font-family: "Montserrat", Sans-serif;font-size: 14px !important;font-weight: 600;line-height: 28px;fill: #00559C;color: #00559C !important;line-height: 18px;text-decoration: underline;}
		.calender-button a{position: relative;}
		.calender-button a.addeventatc:after{content:"";width:30px;height: 19px;position: absolute;z-index: 1;left: 0;top: 10px;background: url(../images/calender-icon.svg) no-repeat; background-size: auto;background-size: 18px 18px;background-color:transparent;}
		.calender-button .wrap{width: 230px;position: absolute;padding: 6px 0px 0px 0px;font-family: "Open Sans",Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;color: #000!important;font-weight: 600;line-height: 100%;background: #fff;font-size: 15px;text-decoration: none;text-align: left;margin-left: -1px;display: none;-moz-border-radius: 3px;-webkit-border-radius: 3px;-webkit-box-shadow: rgb(0 0 0 / 40%) 0px 10px 26px;-moz-box-shadow: rgba(0,0,0,0.4) 0px 10px 26px;box-shadow: rgb(0 0 0 / 40%) 0px 10px 26px;transform: scale(.98,.98) translateY(5px);opacity: 0.5;z-index: -1;transition: transform .15s ease;-webkit-user-select: none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
		.calender-button .wrap.active{display: block;transform: scale(1,1) translateY(0px)!important;opacity: 1;left: -2px;top: -16px;z-index: 99;}
		.calender-button .btn{padding-bottom: 10px;}
		.calender-button .btn a{display: block;line-height: 100%;background: #fff;text-decoration: none;cursor: pointer;font-size: 15px;color: #333;font-weight: 600;padding: 14px 10px 10px 55px;margin: -2px 0px;}
		.calender-button .btn:nth-child(1) a{background: url(../images/icon-google-t5.svg) 18px 40% no-repeat;background-size: 22px 100%;}
		.calender-button .btn:nth-child(2) a{background: url(../images/icon-apple-t5.svg) 18px 40% no-repeat;background-size: 22px 100%;}
		.calender-button .btn:nth-child(3) a{background: url(../images/icon-outlook-t5.svg) 18px 40% no-repeat;background-size: 22px 100%;}


		input.button.ict-btn.apple-bnt {
			background: url(../images/icon-apple-t5.svg) 18px 40% no-repeat;
			background-size: 22px 100%;
		}
		input.button.ict-btn.outlook-bnt {background: url(../images/icon-outlook-t5.svg) 18px 40% no-repeat;background-size: 22px 100%;}
		input.button.ict-btn {
			display: block;
			line-height: 100%;
			background: #fff;
			text-decoration: none;
			cursor: pointer;
			font-size: 15px;
			color: #333;
			font-weight: 600;
			padding: 14px 10px 20px 55px;
			margin: -2px 0px;
			border: none;
		}